@import "../index.scss";

.footer {
  .footerInfo {
    padding: 10rem 5rem 5rem 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 1.5rem;    /* Add gap between lines */
      text-shadow: 2px 2px 8px #063100; 

    @include respond(phone) {
      padding: 3rem 1rem;
      gap: 1rem;
       text-shadow: 2px 2px 8px #063100; 
    }

    .footerDetails {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 1.5rem;  /* Gap between items in footerDetails */

      & h1 {
        font-size: 3rem !important;
        color: #ffffff !important;
        font-weight: 700 !important;
        margin-bottom: 0;
      }

      & p {
        font-size: 2rem !important;
        color: #ffffff !important;
        font-weight: 500 !important;
        margin-bottom: 0;
      }
    }
  }

  .license {
    font-size: 2rem !important;
    color: #ffffff !important;
    font-weight: 500 !important;
    text-align: center;
    padding-top: 4rem;      /* Space above license line */
    padding-bottom: 1.5rem;

    @include respond(phone) {
      padding-bottom: 7rem;
      padding-top: 3rem;
    }
  }
}
